
body {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: row;
  align-items: strech;
}

textarea {
  font-size: 12px;
  line-height: 1.6em;
  font-family: Menlo;
  padding: 10px;
  border: none;
  outline: none;
  color: gray;
  resize: none;
}

textarea:focus {
  color: black;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  border-left: 1px solid #c8c8c8;
}
